{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
    {% if notif %}
        <div class="alert alert-info">
            {{ notif }}
        </div>
    {% endif %}

    <div class="text-center col-10 mx-auto border border-dark rounded m-3 ">
        <h1 class="h3 mb-3 font-weight-normal text-center p-3"><u>Modifier mot de passe:</u></h1>
        {{ form(f) }}
</div>

  <ul class="fa-ul">
    <li><a href="{{path('profil')}}" title="Précédent"><i class="fa-solid fa-arrow-left"></i> Précédent</a></li>
  </ul>

{% endblock %}
