{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('assets/css/styleFooterbar0.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="text-center">
    <h1><u>Bienvenue sur la page d'accueil:</u></h1>

    <iframe width="560" height="315" src="https://www.starwars.com/embed/4fb999c488cb5b32908cee25?autoplay=1&loop=1&autopause=1&autopause=0" frameborder="0" allowfullscreen scrolling="no"></iframe><br/><a href="https://www.starwars.com/video/star-wars-episode-i-the-phantom-menace-opening-crawl">Star Wars: Episode I The Phantom Menace Opening Crawl | StarWars.com on Disney Video</a>

</div>
{% endblock %}

